*{
  margin: 0 auto;
}
.top{
 font-size: 13px;
  height: 47px;
  background-color: #FFFFFF;
}
li{
  margin-left: 5px;
  display: inline;
  list-style: none;
}
.left{

  padding-top: 15px;
  padding-bottom: 15px;
  float: left;
  display: inline;
}
.right{
  float: right;
}
body{
  font-family:  Helvetica ;
  background-color: yellow;
}
.welcome{
  margin-top: 70px;
  
  width: 475px;
  float: left;
  margin-left: 150px;
}
.forms{
  float: right;
  margin-right: 200px;
  margin-top: 70px;
}
.form1{
  margin-bottom: 30px;
  padding:20px;

  background-color: #FFFFFF;
  height: 120px;
  width: 300px;
}

.form2{
background-color: #FFFFFF;
width: 300px;
padding:20px;
}
input{
  border-radius: 4px;
  background-color: white;
  padding: 5px;

}
li a{
  text-decoration: none;
}
h1{
  font-size: 35px;
  margin-bottom: 40px;
}
p{
  font-size: 20px;
  margin-bottom: 100px;
}